[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dotenv = "*"
appwrite = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
